.home {
    background-color: blue;
    color: white;
    border-radius: 12px;
    padding: 15px;
    
}
.aboutus {
    background-color: blue;
    color: white;
    border-radius: 12px;
    padding: 15px;
}
.products{
    background-color: blue;
    color: white;
    border-radius: 12px;
    padding: 15px;
}
.contact{
    background-color: blue;
    color: white;
    border-radius: 12px;
    padding: 15px;
}